name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag Sleep_Cycle:latest
    - name: Run the Docker container
      run: docker run -d -p 3000:3000 --name Sleep_Cycle Sleep_Cycle:latest


